/* up to TB110 */
treechildren::-moz-tree-image(subjectCol, kw-redirected) {
  list-style-image: url("resent.svg") !important;
  fill: #9c0000 !important; /* doesn't work, fill is in svg */
}

treechildren::-moz-tree-image(subjectCol, forwarded, kw-redirected) {
  list-style-image: url("forward-resent.svg") !important;
}

treechildren::-moz-tree-image(subjectCol, replied, kw-redirected) {
  list-style-image: url("reply-resent.svg") !important;
}

treechildren::-moz-tree-image(subjectCol, replied, forwarded, kw-redirected) {
  list-style-image: url("reply-forward-resent.svg") !important;
}

/* since TB111, more todo, needs 'Redirected' in 'data-properties' of the 'tr'*/
/* 'redirected' is used by TB's version of redirect */
/* for now: use tags */
tr[data-properties~="Tredirected"] .subject-line img {
  visibility: initial !important;
  content: url("resent.svg") !important;
  fill: var(--color-purple-50); /* doesn't work, fill is in svg */
}
tr[data-properties~="Tredirected"][data-properties~="forwarded"] .subject-line img {
  visibility: initial !important;
  content: url("forward-resent.svg" !important);
}
tr[data-properties~="Tredirected"][data-properties~="replied"] .subject-line img {
  visibility: initial !important;
  content: url("reply-resent.svg") !important;
}
tr[data-properties~="Tredirected"][data-properties~="forwarded"][data-properties~="replied"] .subject-line img {
  visibility: initial !important;
  content: url("reply-forward-resent.svg") !important;
}
